[tomcat_*]
env.host      localhost
env.port      3930
env.request   /manager/status?XML=true
env.user      munin
env.password  {{ ap_munin_plugin_tomcat_password }}
env.timeout   30
env.connector "http-nio-3930"
