################################################################################################
###                                                                                          ###
###                      my.cnf Standard for COCONE (MariaDB 5.5.xx)                         ###
###                                                                                          ###
################################################################################################

## ---------------------------------------------------------------------------------------------
## Client Configuration
## ---------------------------------------------------------------------------------------------
[client]
port                            = 3306
default-character-set           = utf8
socket                          = /var/lib/mysql/mysql.sock

## ---------------------------------------------------------------------------------------------
## MariaDB Client Configuration
## ---------------------------------------------------------------------------------------------
[mysql]
no-auto-rehash
show-warnings
prompt=\u@\h:\d\_\R:\m:\\s>
pager="less -n -i -F -X -E"

## ---------------------------------------------------------------------------------------------
## MariaDB Common Client(mysqldump) Configuration
## ---------------------------------------------------------------------------------------------
[mysqldump]
quick
max_allowed_packet = 16M

## ---------------------------------------------------------------------------------------------
## MariaDB Server Configuration
## ---------------------------------------------------------------------------------------------
[mysqld]
## MariaDB Base Options --------------------------------------------------------------------------
user                            = mysql
port                            = 3306
basedir                         = /usr
datadir                         = /var/lib/mysql
tmpdir                          = /var/lib/mysql
socket                          = /var/lib/mysql/mysql.sock

skip-external-locking
sysdate-is-now

## Character and Collation Options -------------------------------------------------------------
character-set-server          = utf8
collation-server              = utf8_general_ci
default-storage-engine        = InnoDB

## Event Scheduler Options ---------------------------------------------------------------------
event-scheduler = OFF
# or
# skip-event-scheduler

## Connection Options --------------------------------------------------------------------------
back_log                        = 100
max_connections                 = 500
thread_cache_size               = 50
table_open_cache                = 512
max_allowed_packet              = 32M
thread_concurrency              = 16
max_connect_errors              = 999999
wait_timeout                    = 28800
skip-name-resolve

## Memory Options ------------------------------------------------------------------------------
query_cache_size                = 64M
max_heap_table_size             = 32M
tmp_table_size                  = 4M
query_cache_limit               = 2M
group_concat_max_len            = 1024

# Session Scope Buffers
# - IF YOU WANT TO USE THESE BUFFERS,
#    ACTIVATE IT IN SESSION SCOPE USING SET <parameter_name>=<values>
sort_buffer_size                = 256K
join_buffer_size                = 256K
read_buffer_size                = 64K
read_rnd_buffer_size            = 64K

## Log Options ---------------------------------------------------------------------------------
pid-file                        = /var/log/mysql/mysqld.pid
log-error                       = /var/log/mysql/mysqld.err
log-warnings                    = 1

# General Query Log
# - IF YOU WANT TO USE GENERAL-QUERY-LOG,
#    ACTIVATE IT IN GLOBAL SESSION SCOPE USING SET GLOBAL general_log=1
general_log                     = 0
general_log_file                = /var/log/mysql/mysql-general.log

# Slow Query Log
log_slow_admin_statements
slow_query_log                  = 1
long_query_time                 = 1
slow_query_log_file             = /var/log/mysql/mysql-slow.log

## InnoDB Options ------------------------------------------------------------------------------
innodb_buffer_pool_size         = 100M
innodb_additional_mem_pool_size = 16M
innodb_file_per_table           = 1
innodb_data_home_dir            = /var/lib/mysql
innodb_data_file_path           = ib_system:100M:autoextend
innodb_autoextend_increment     = 100
innodb_log_group_home_dir       = /var/lib/mysql
innodb_log_files_in_group       = 2
innodb_log_buffer_size          = 16M
innodb_log_file_size            = 1024M
innodb_lock_wait_timeout        = 50
innodb_flush_method             = O_DIRECT
innodb_flush_log_at_trx_commit  = 1
innodb_support_xa               = OFF

# GENERALLY USE DEFAULT VALUE
innodb_thread_concurrency       = 0
innodb_force_recovery           = 0
innodb_doublewrite              = 1
innodb_sync_spin_loops          = 20
innodb_table_locks              = 1
innodb_thread_sleep_delay       = 1000
innodb_max_purge_lag            = 0
innodb_commit_concurrency       = 0
innodb_concurrency_tickets      = 500

## MyISAM Options ------------------------------------------------------------------------------
key_buffer_size                 = 32M
bulk_insert_buffer_size         = 32M
myisam_sort_buffer_size         = 1M
myisam_max_sort_file_size       = 1G
myisam_repair_threads           = 1
myisam_recover
ft_min_word_len                 = 2

## Replication Options -------------------------------------------------------------------------
# IF THIS IS A REPLICATION MASTER, COMMENT OUT.
#server-id                       = 1
#binlog-format                   = STATEMENT
#log-bin                         = /var/lib/mysql/mysql_bin
#binlog_cache_size               = 128K
#max_binlog_size                 = 512M
#expire_logs_days                = 15
#log-bin-trust-function-creator  = 1
#sync_binlog                     = 1

# # IF THIS IS A REPLICATION SLAVE, COMMENT OUT.
# server-id                       = 2
# relay-log                       = /var/lib/mysql/mysql_relay
# relay_log_purge                 = 1
# read_only
#
# # IF THIS IS REPLICATION SLAVE AND IF YOU WANT TO GENERATE BINARY LOG THEN COMMENT OUT.
# log-slave-updates
